ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 1.875rem 0;

    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.profile-section-title {
    font-size: 24px;
    font-weight: bold;
    color: #606060;

    width: 100%;
    text-align: start;
    justify-content: start;
}

ul>li {
    width: calc(100% - 1.25rem);
    padding-left: 1.25rem;
    display: flex;
    justify-content: space-between;
}

ul>li.right {
    justify-content: end;
}

/* mobile screen */
@media (max-width: 768px) {
    .title {
        font-size: 24px;
        font-weight: bold;
        margin: 0 1.5rem;
        width: 18.75rem;
        text-align: start;
    }
}

/* tablet screen */
@media (min-width: 768px) {
    .title {
        font-size: 32px;
        font-weight: bold;
        margin: 0 16.875rem;
        width: 46.25rem;
        text-align: start;
    }
}

/* desktop screen */
@media (min-width: 1024px) {
    .title {
        font-size: 48px;
        font-weight: bold;
        margin: 3.25rem 16.875rem 0;
        width: 46.25rem;
        text-align: start;
    }

    .about-body {
        display: flex;
        flex-direction: row wrap;
        gap: 3.125rem;
        margin: 3.75rem 16.875rem 0;
        width: 46.25rem;
    }

    .profile-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;

        width: 260px;
        /* height: 6.25rem; */
        padding: 1rem;
        border-radius: 0.5rem;

        background-color: var(--dark-1e);
    }

    .profile {
        width: 230px;
        height: 230px;
        border-radius: 50%;

        clip-path: circle(50%);
    }

    .profile-info {}
}