.article-index {
    /* 위에 붙어있는 높이 설정 */
    position: sticky;
    top: 7rem;
    width: 210px;
    height: auto;
    max-height: 30rem;

    justify-content: start;
    align-items: start;
    text-align: start;

    padding: 0.5rem 1rem;
    border: 0 solid white;
    border-width: 0 0 0 3px;

    overflow: auto;
    box-sizing: border-box;
}

.article-index span {
    font-size: 2.25rem;
    font-weight: bold;
    color: white;
}

.article-index ul {
    list-style-type: none;
    padding: 1rem 0.5rem;
    margin: 0;
}

.article-index li {
    font-weight: bold;
    margin: 0.5rem 0;
    color: #ACACAC;
}

.article-index li:hover {
    color: white;
}

.article-index .h1-index {
    font-size: 1.5rem;

}

.article-index .h2-index {
    font-size: 1.25rem;
    padding-left: 0.5rem;
}

.article-index .h3-index {
    font-size: 1.1rem;
    padding-left: 1rem;
}

/* 스크롤바 스타일 */
.article-index::-webkit-scrollbar {
    width: 3px;
    /* 스크롤바 너비 */
}

.article-index::-webkit-scrollbar-track {
    background: transparent;
    /* 스크롤바 트랙 배경색 */
}

.article-index::-webkit-scrollbar-thumb {
    background-color: #888;
    /* 스크롤바 색상 */
    border-radius: 0;
    /* 스크롤바 모서리 반경 */
}

.article-index::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* 스크롤바 호버 색상 */
}