.comment-submit-form {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    align-items: start;

    width: 46.25rem;
}

.comment-submit-form h2 {
    width: 100%;
    text-align: start;
    margin: 3.4375rem 0 0 0;

    font-size: 2rem;
    font-weight: bold;
}

.comsub-content {
    display: flex;
    gap: 0.625rem;
    align-items: start;
    flex-wrap: wrap;
    width: 100%;

    color: var(--text-default) !important;
}

.comsub-content>input,
.comsub-content>textarea,
.comsub-content>button {
    padding: 0.625rem;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;

    font-size: 1rem;
    outline: none;

    background-color: var(--dark-1e);
    color: inherit;
}

.comsub-content>textarea {
    width: 100%;
    height: 6.25rem;
    resize: none;
}

.comsub-content>button {
    width: 9.375rem;
    height: 3.125rem;
    background-color: var(--blue-1);

    margin-left: auto;
}

.comsub-content>button.inactive {
    background-color: var(--dark-1e);
}