.writer-profile-reaction-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 740px;
}

.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    margin-bottom: 1.25rem;
}

.profile-header h2 {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

.profile-header p {
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    color: #606060;
}

.profile {
    display: flex;
    align-items: center;
    gap: 1rem;

    background-color: #242424;
    padding: 1rem;
    border-radius: 0.5rem;

    width: 21rem;
    max-width: 42rem;
    height: 5.31rem;

    box-sizing: border-box;
}

.profile img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.profile .info {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
}

.name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
}

.name span {
    font-size: 18 / 16 rem;
    font-weight: bold;
    color: white;
}

.arrow-forward {
    width: 1rem;
    color: #838383;
}

.introduction {
    width: 210px;

    font-size: 1rem;
    color: #838383;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profile-body {
    display: flex;
    justify-content: space-between;
    /* gap: 0.625rem; */
    width: 100%;
}

.reaction {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.reaction button,
.reaction a {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    background-color: #242424;
    padding: 0.5rem 1rem;
    border: solid 0;
    border-radius: 0.5rem;

    font-size: 1rem;
    height: 2.375rem;
}

.like-comment {
    display: flex;
    gap: 0.625rem;
}

.like-comment button {
    color: white;
    fill: white;
    font-size: 1.125rem;
}

.like-comment button:hover {
    color: #838383;
    fill: #838383;
}

.favorite-icon,
.chat-icon {
    fill: inherit;
}

.like.liked {
    fill: #FF6B6B;
}

.like.liked:hover {
    fill: #FF6B6B;
}

.share {
    max-width: 21.75rem;
    box-sizing: border-box;
    color: #515151 !important;
    fill: #515151 !important;
}

.share:hover {
    color: #838383 !important;
    fill: #838383 !important;
}

.share span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: inherit;
}

.link-icon {
    fill: inherit;
}