.filter {
    display: flex;
    width: 100%;
    justify-content: end;

    margin-right: calc(100% - 720px);
}

.sortbox {
    display: flex;
    align-items: center;
    gap: 10px;

    margin-bottom: 15px;
}

/* custom dropdown 설정 */
.custom-dropdown {
    position: relative;
    width: 120px;
    height: 30px;

    transition: transform 0.2s ease;
}

.custom-dropdown:active {
    transform: scale(0.95);
}

.selected-option {
    padding: 5px 16px;
    border: solid none;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--dark-2);
}

.options {
    /* display: none; */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: transparent;
    border: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.options li {
    padding: 10px;
    cursor: pointer;
    background-color: var(--dark-2);
    border-radius: 10px;

    margin: 5px 0;
}

.options li:hover {
    background-color: var(--dark-3);
}