.filter {
    /* margin-bottom: 15px; */
}

/* custom dropdown 설정 */
.custom-dropdown {
    position: relative;
    width: 200px;
}

.selected-option {
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.options {
    /* display: none; */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border: 1px solid #ccc;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.options li {
    padding: 10px;
    cursor: pointer;
}

.options li:hover {
    background: #f0f0f0;
}