.root{
    display: flex;
}
.title{
    display: flex;
    flex-flow: column wrap;
    align-items: start;
    gap: 1rem;

    margin: 72px 0px 65px 0px;
    color: white;
}
.title h1{
    font-size: 32px;
    color: white;
    margin: 0;
}
.title p{
    color: #606060;
    margin: 0;
}

.main{
    width: clamp(538px, calc(100% - 230px), 100%);
    margin-top: var(--nav-height);
    /* margin: var(--nav-height) 0; */
    /* padding: 2rem; */
    padding: 0 clamp(2rem, calc((100% - 1400px) / 2), 100% / 2);

    background-color: var(--dark-1);
    border-radius: 8px 0 0 8px;
    box-sizing: border-box;
}
.main-body{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1rem;
}
/* .main-root{
    display: flex;
}

.main-main {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 0 8px;
    
    background-color: var(--dark-1);
}

.title {
    margin: 100px 0px 65px 0px;
    font-size: 48px;
    font-weight: bold;
    color: white;
}

.main-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.main-middle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.main-content {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    gap: 1rem;
} */