.main-root{
    display: flex;
}
.main-main{
    background-color: var(--dark-1);
    border-radius: 0 0 0 8px;
}
/* .main-root{
    display: flex;
}

.main-main {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 0 8px;
    
    background-color: var(--dark-1);
}

.title {
    margin: 100px 0px 65px 0px;
    font-size: 48px;
    font-weight: bold;
    color: white;
}

.main-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.main-middle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.main-content {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    gap: 1rem;
} */