.main-main {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}

.title {
    margin: 100px 0px 65px 0px;
    font-size: 48px;
    font-weight: bold;
    color: white;
}

.main-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.main-middle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.main-content {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    gap: 1rem;
}