main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* nav바 높이만큼 top margin 설정 */
    margin-top: var(--nav-height);
}

.title {
    margin: 100px 0px 65px 0px;
    font-size: 48px;
    font-weight: bold;
    color: white;
}

.main-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* padding: 0px 45px; */
}

.main-middle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /* padding: 0px 45px; */
}