.article-scroll-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 100%;
}

.article-scroll-section .section-title {
    margin: 6.25rem 0 1.875rem 0;
    width: 46.25rem;
    font-size: 32px;
    font-weight: bold;

    text-align: start;
}

.article-scroll-section .articles {
    display: flex;
    gap: 1.875rem;

    overflow-x: auto;
    flex-wrap: nowrap;
    max-width: calc(100% - 16.875rem);

    padding: 5px 0;
}

/* card 관련 설정 */
.card {
    position: relative;
    min-width: 25rem;
    height: 12.5rem;

    box-sizing: border-box;
    padding: 1.25rem;

    background-image: url('assets/images/image.png');
    background-size: cover;
    border-radius: 0.625rem;
    margin: 0.25rem;
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);

    border-radius: 0.625rem;
    /* 60% 불투명도의 검은색 */
    z-index: 1;

}

.card-content {
    z-index: 2;
    position: relative;

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.card.active {
    border-radius: 0.625rem;
    outline: 0.25rem solid var(--blue-1);
}

.card-header {
    display: flex;
    flex-direction: column;

    align-items: start;
}

.card-title {
    margin: 0 0 1.25rem 0;
    width: 22.5rem;
    height: 1.875rem;

    font-size: 1.5rem;
    font-weight: normal;
    text-align: start;
}

.card-text {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0;
    padding: 0;
    width: 22.5rem;

    text-align: start;
    overflow: hidden;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.card-meta {
    display: flex;
    justify-content: space-between;
}

.card-info>*::after {
    content: "|";
    padding: 0 5px;
}

.card-info>*:last-child::after {
    content: none;
}