.root{
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    height: calc(100% - var(--nav-height));
}
.page{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;

    padding: 3rem 2rem;
    box-sizing: border-box;
}
/* ------------------------------------------------------------------------------------------------------------------------------------ */
.aside{
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
}
/* ------------------------------------------------------------------------------------------------------------------------------------ */
.head{
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}
.head > *{
    margin: 0;
}
.head > h1{
    text-align: start;
    font-size: 3rem;
    font-weight: bold;
}
.head > .dash{
    width: 40px;
    height: 1px;
    background-color: #838383;
}
.head > .count{
    display: flex;
    align-items: center;

    height: 40px;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
    background-color: #1E1E1E;
}

.body{
    display: grid;
    grid-template-columns: 190px 1fr 190px;
    grid-template-rows: auto auto;
    gap: 4rem 3rem;
    flex-wrap: wrap;
}
.item-2 {
    grid-area: 1 / 2 / 2 / 3;
}

.item-4 {
    grid-area: 2 / 1 / 3 / 2;
}

.item-5 {
    grid-area: 2 / 2 / 3 / 3;
}

.list {
    --margin: 0.5rem;
    display : flex;
    /* 주석 부분은 원래 라이브러리 기본 코드 */
    /* margin-left : calc(-1 * var(--margin)); */
    margin: 0 auto;
}
/* NOTE categorypage.tsx의 breakpointColumnsObj와 길이 같이 씀 */
/* 4열 */
@media (min-width: 1532px) {
    .list {
        max-width: 992px;
    }
}
/* 3열 */
@media (max-width: 1531px) {
    .list {
        max-width: 740px;
    }
}
/* 2열 */
@media (max-width: 1279px) {
    .list {
        max-width: 488px;
    }
}
/* 1열 */
@media (max-width: 1027px) {
    .list {
        max-width: 236px;
    }
}
.list-colulmn {
    padding-left : var(--margin) ;
    background-clip : padding-box;
}
 
 /* 항목에 스타일 지정 */ 
.list-column > li { /* <Masonry>에 넣은 요소를 참조하도록 div를 변경합니다. */  
    margin-bottom : calc(2 * var(--margin));
}

/* category block css */
/* CategoryBlock.tsx에서도 해당 css 사용 */
.category-block{
    display: flex;
    flex-flow: column nowrap;
    gap: 35px;

    --width: 236px;
    width: var(--width);
    min-width: var(--width);
    border-radius: 0.5rem;
    padding: 1rem;
    box-sizing: border-box;
    background-color: #515151;

    position: relative;
    background-size: cover;
    background-position: center;
}
.category-block::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* 60% 투명도의 검은색 오버레이 */
    z-index: 1;
}
.category-block > * {
    position: relative;
    z-index: 2; /* 오버레이 위에 텍스트를 표시 */
}
.category-block > header{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 0.5rem;
}
.category-block > header > h3{
    margin: 0;
    font-size: 2rem;
    font-weight: normal;
}
.category-block > header > span{
    color: white;
    font-size: 1rem;
}
.category-block > ul{
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
}
.category-block > ul > li{
    text-align: start;
    gap: 0.5rem;
    
    height: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.category-block > ul > li > a{
    text-align: start;
    font-size: 1rem;
}
.category-block > footer > a{
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 0.5rem; */
}