.nav {
    display: flex;
    justify-content: start;
    width: calc(100% - 270 * 2px);
    padding: 20px;
    background-color: #282c34;

    gap: 20px;
}

.nav>li {
    list-style-type: none;
}

.nav>li>a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}