.article-container{
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;

    width: 100%;
}
.header{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1rem;
    background-color: var(--dark-1);
    border-radius: 8px 0 0 0;

    font-weight: bold;
}
span.selected{
    color: white;
}
header span{
    color: #838383;
}
header span:hover{
    cursor: pointer;
}
span .selected{
    color: white;
}