.main{
    display: flex;
    flex-direction: column;
    align-items: start;

    width: clamp(0px, 100%, 100%);
    max-width: 100%;
    /* overflow: auto; */
    /* overflow-x: auto; */
    gap: 1rem;
}

.main > header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.main > header > h2{
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
}
.main > header > button{
    background-color: transparent;
    border: none;
    color: var(--primary);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    padding: 0;

    display: flex;
    align-items: center;
}

.article-list{
    max-width: 100%;
    overflow: auto;
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
}
