.footer {
    display: flex;
    flex-flow: column wrap;
    align-items: start;
    width: 100%;
    height: 350px;
    margin: 0;
    padding: 48px 45px !important;

    background-color: #000000;
    color: white;

    box-sizing: border-box;
}
.footer p{
    margin: 0;
    text-align: start;
}
.footer header{
    display: flex;
    align-items: end;
    gap: 1rem;
    margin-bottom: 50px;
}
.title{
    font-size: 36px;
}

.footer-body{
    display: flex;
    flex-flow: row wrap;

    width: 100%;
    justify-content: space-between;
}
.footer-body div{
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    gap: 1rem;
    width: 50%;
}
.left{
    align-items: end;
}
.right{
    align-items: start;
}

.footer-body div button{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}