.tag-item{
    height: 40px;
    border-radius: 0.5rem;
    background-color: #1E1E1E;
}
.tag-item > a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    padding: 0.5rem 1rem;
    box-sizing: border-box;
}
.tag-item > a > h2{
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}