:root{
  height: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
#root{
  height: 100%;
}

body {
  background-color: var(--bg-color);
  color: var(--text-primary);
  font-family: Helvetica;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


a,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none !important;
  color: inherit !important;
}