:root {
  --text-default: white;
  --dark-0: #000000;
  --dark-1: #242424;
  --dark-2: #515151;
  --dark-3: #606060;

  --nav-height: 72px;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-1);
  color: var(--text-default);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


a,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none !important;
  color: inherit !important;
}