.nav {
    width: 100%;
    height: var(--nav-height);
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    /* 상단고정 관련 코드 */
    position: fixed;
    left: 0;
    top: 0;
    /* margin-left: var(--nav-left-margin); */
    padding: 0 var(--nav-left-padding);
    padding-left: var(--nav-left-margin);

    background-color: black;
    /* blur효과 관련 코드 */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    /* aside - 1000으로 설정 -> 이것보다 높음 */
    z-index: 999;
}
.nav,
.nav-left, .nav-right {
    display: flex;
}
.nav-left,
.nav-right {
    justify-content: center;
    gap: 1rem;
}
/* nav 안에 items */
.navlink span {
    text-decoration: none;
    color: #7b7b7b;
    font-size: 1rem;
    /* font-weight: bold; */
}
.navlink {
    /* padding: 20px; */
}
.nav-right .navlink {
    /* padding: 20px 15px; */
}

.navlink[class*="active"]>span {
    color: white;
}